<ion-menu side="end" contentId="main-content">
  <ion-header>
    <ion-toolbar color="c1">
      <ion-title>Menu</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content class="ion-padding">
    <ion-item>
      <ion-button color="ww" size="medium">Product</ion-button>
    </ion-item>
    <ion-item>
      <ion-button color="ww" size="medium">About</ion-button>
    </ion-item>
  </ion-content>
</ion-menu>
<div class="ion-page" id="main-content">
  <ion-header>
    <ion-toolbar color="c1">
      <ion-title>Product</ion-title>
      <ion-buttons slot="end">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>

  <ion-content>
    <ion-content [fullscreen]="true" color="c2">
      <ion-card>
        <img alt="Silhouette of mountains" src="../../assets/iphon.jpg" />
        <ion-card-header>
          <ion-card-title>iPhon 15 pro mex</ion-card-title>
          <ion-card-subtitle>ราคา 45,900 บาท</ion-card-subtitle>
        </ion-card-header>

        <ion-card-content>
          <ion-button id="present-alert" size="large"><ion-icon name="add-outline"></ion-icon></ion-button>
          <ion-alert trigger="present-alert" header="Please enter your info" [buttons]="alertButtons"
            [inputs]="alertInputs"></ion-alert>

          <ion-button (click)="setOpen(true)" color="danger" size="large"><ion-icon
              name="trash-bin-outline"></ion-icon></ion-button>
          <ion-action-sheet [isOpen]="isActionSheetOpen" header="Actions" [buttons]="actionSheetButtons"
            (didDismiss)="setOpen(false)"></ion-action-sheet>
        </ion-card-content>
      </ion-card>

      <ion-card>
        <img alt="Silhouette of mountains" src="../../assets/sum2.jpg" />
        <ion-card-header>
          <ion-card-title>Samsung A54</ion-card-title>
          <ion-card-subtitle>ราคา 25,900 บาท</ion-card-subtitle>
        </ion-card-header>

        <ion-card-content>
          <ion-button id="present-alert" size="large"><ion-icon name="add-outline"></ion-icon></ion-button>
          <ion-alert trigger="present-alert" header="Please enter your info" [buttons]="alertButtons"
            [inputs]="alertInputs"></ion-alert>

          <ion-button (click)="setOpen(true)" color="danger" size="large"><ion-icon
              name="trash-bin-outline"></ion-icon></ion-button>
          <ion-action-sheet [isOpen]="isActionSheetOpen" header="Actions" [buttons]="actionSheetButtons"
            (didDismiss)="setOpen(false)"></ion-action-sheet>
        </ion-card-content>
      </ion-card>

      <ion-card>
        <img alt="Silhouette of mountains" src="../../assets/sumsom.jpg" />
        <ion-card-header>
          <ion-card-title>Samsung S24 Ultra</ion-card-title>
          <ion-card-subtitle>ราคา 35,590 บาท</ion-card-subtitle>
        </ion-card-header>

        <ion-card-content>
          <ion-button id="present-alert" size="large"><ion-icon name="add-outline"></ion-icon></ion-button>
          <ion-alert trigger="present-alert" header="Please enter your info" [buttons]="alertButtons"
            [inputs]="alertInputs"></ion-alert>

          <ion-button (click)="setOpen(true)" color="danger" size="large"><ion-icon
              name="trash-bin-outline"></ion-icon></ion-button>
          <ion-action-sheet [isOpen]="isActionSheetOpen" header="Actions" [buttons]="actionSheetButtons"
            (didDismiss)="setOpen(false)"></ion-action-sheet>
        </ion-card-content>
      </ion-card>

      <ion-card>
        <img alt="Silhouette of mountains" src="../../assets/xaio.jpg" />
        <ion-card-header>
          <ion-card-title>Xaiomi 14 Tap Pro</ion-card-title>
          <ion-card-subtitle>ราคา 15,900 บาท</ion-card-subtitle>
        </ion-card-header>

        <ion-card-content>
          <ion-button id="present-alert" size="large"><ion-icon name="add-outline"></ion-icon></ion-button>
          <ion-alert trigger="present-alert" header="Please enter your info" [buttons]="alertButtons"
            [inputs]="alertInputs"></ion-alert>

          <ion-button (click)="setOpen(true)" color="danger" size="large"><ion-icon
              name="trash-bin-outline"></ion-icon></ion-button>
          <ion-action-sheet [isOpen]="isActionSheetOpen" header="Actions" [buttons]="actionSheetButtons"
            (didDismiss)="setOpen(false)"></ion-action-sheet>
        </ion-card-content>
      </ion-card>

    </ion-content> </ion-content>
</div>